
.Capitalize_class{
   text-transform: capitalize;
 }

.Uppercase_class{
  text-transform: uppercase; 
}
 
.labelFont {
/* font-family: 'Roboto Medium', sans-serif; */
font-family: 'Roboto Medium', sans-serif;
font-size: 18px;
color: #565656;
}

.errorMsg {
  color: red;
  margin-bottom: 12px;
}

.sucessMsg {
  color: #6B8E23;
  margin-bottom: 10px;
}

.center_div{
  margin: 0 auto;
  width:70% /* value of your choice which suits your alignment */
}